# Project 1

#### Apply:

#### (i) logistic Regression
#### (ii) SVM
#### (iii) Decision Tree
#### (iv) RandomForest

#### on the Loan dataset and check were you will get the best possible accuracy
###### project note : Dependent Variable is Loan Status

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_csv("loan.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
# We will remove Loan_ID as it is of no use to us

df.drop("Loan_ID",axis = 1,inplace = True)
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 57.7+ KB

In [10]:
# Now we will drop all the null value columns

df_new = df.dropna()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             480 non-null    object
 1   Married            480 non-null    object
 2   Dependents         480 non-null    object
 3   Education          480 non-null    object
 4   Self_Employed      480 non-null    object
 5   ApplicantIncome    480 non-null    int64
 6   CoapplicantIncome  480 non-null    float64
 7   LoanAmount         480 non-null    float64
 8   Loan_Amount_Term   480 non-null    float64
 9   Credit_History     480 non-null    float64
 10  Property_Area      480 non-null    object
 11  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 48.8+ KB

In [11]:
#Now let us apply label encoding because it will coonvert all object data colum to int column ad at the same time make them convert into machine laguage which can further be used in modelling
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df_new["Gender"] = label_encoder.fit_transform(df_new["Gender"])
df_new["Married"] = label_encoder.fit_transform(df_new["Married"])
df_new["Dependents"] = label_encoder.fit_transform(df_new["Dependents"])
df_new["Education"] = label_encoder.fit_transform(df_new["Education"])
df_new["Self_Employed"] = label_encoder.fit_transform(df_new["Self_Employed"])
df_new["Property_Area"] = label_encoder.fit_transform(df_new["Property_Area"])
df_new["Loan_Status"] = label_encoder.fit_transform(df_new["Loan_Status"])
df_new.head()

C:\Users\Ananaya Gupta\AppData\Local\Temp\ipykernel_14196\2327955154.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["Gender"] = label_encoder.fit_transform(df_new["Gender"])
C:\Users\Ananaya Gupta\AppData\Local\Temp\ipykernel_14196\2327955154.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["Married"] = label_encoder.fit_transform(df_new["Married"])
C:\Users\Ananaya Gupta\AppData\Local\Temp\ipykernel_14196\2327955154.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["Dependents"] = label_encoder.fit_transform(df_new["Dependents"])
C:\Users\Ananaya Gupta\AppData\Local\Temp\ipykernel_14196\2327955154.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["Education"] = label_encoder.fit_transform(df_new["Education"])
C:\Users\Ananaya Gupta\AppData\Local\Temp\ipykernel_14196\2327955154.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["Self_Employed"] = label_encoder.fit_transform(df_new["Self_Employed"])
C:\Users\Ananaya Gupta\AppData\Local\Temp\ipykernel_14196\2327955154.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["Property_Area"] = label_encoder.fit_transform(df_new["Property_Area"])
C:\Users\Ananaya Gupta\AppData\Local\Temp\ipykernel_14196\2327955154.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["Loan_Status"] = label_encoder.fit_transform(df_new["Loan_Status"])

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [12]:
#now we will save the lable encoded as a new csv file
df_new.to_csv("F:\insideAIML\df_req.csv")

In [13]:
#now we will load that updated csv file
df_req = pd.read_csv("F:\insideAIML\df_req.csv")
df_req.head()

,Unnamed: 0,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
1,2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
2,3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
3,4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
4,5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [14]:
df_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         480 non-null    int64
 1   Gender             480 non-null    int64
 2   Married            480 non-null    int64
 3   Dependents         480 non-null    int64
 4   Education          480 non-null    int64
 5   Self_Employed      480 non-null    int64
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    int64
 12  Loan_Status        480 non-null    int64
dtypes: float64(4), int64(9)
memory usage: 48.9 KB

In [15]:
x = df_req.drop("Loan_Status",axis = 1)
y = df_req["Loan_Status"]
print(x.shape,y.shape)

(480, 12) (480,)

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1, random_state = 10)
print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)

(432, 12) (48, 12)
(432,) (48,)

### Applying Logistic regression

In [17]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(solver='saga')
LR.fit(x_train,y_train) #training 

y_pred1 = LR.predict(x_test)

from sklearn.metrics import f1_score
print("Logistic Regression Accuracy is : ", f1_score(y_test, y_pred1)*100,"%")

Logistic Regression Accuracy is :  80.0 %

C:\Users\Ananaya Gupta\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:352: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

### Applying SVM

In [18]:
from sklearn import svm
svm = svm.SVC(kernel = "sigmoid") 
svm.fit(x_train,y_train)

y_pred2 = svm.predict(x_test) 

print("SVM Accuracy is: ",(f1_score(y_pred2,y_test,average = "weighted"))*100,"%")

SVM Accuracy is:  69.08424908424907 %

### Applying Decision Tree

In [19]:
from sklearn.tree import DecisionTreeClassifier
LoanTree = DecisionTreeClassifier(criterion="entropy", max_depth = 5)  
LoanTree.fit(x_train,y_train)

y_pred3 = LoanTree.predict(x_test)

from sklearn.metrics import f1_score
print("Decision Trees accuracy is: ",f1_score(y_test,y_pred3)*100,"%")

Decision Trees accuracy is:  82.1917808219178 %

### Applying Random Forest

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000,criterion="entropy")  
rf.fit(x_train,y_train)

y_pred4 = rf.predict(x_test)

from sklearn.metrics import f1_score
print("Random Forest accuracy is: ",f1_score(y_test,y_pred4)*100,"%")

Random Forest accuracy is:  87.67123287671234 %

###### We can conclude that best accuracy is shown by  Random Forest Algorithm

# Project 2

#### Apply Exploratory Data Analysis on the FifaDataset
#### Convert the appropriate columns to machine understandable columns using label encoding
#### Handle Null values
#### Apply the correlation and remove the column which are more than 60% correlated
#### Apply the variance and remove the columns whose variance is less that 20%
#### Understand the Dataset whether the dataset is correct

In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [140]:
df = pd.read_csv("fifa_cleaned.csv")
df.head()

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 92 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             17954 non-null  int64
 1   name                           17954 non-null  object
 2   full_name                      17954 non-null  object
 3   birth_date                     17954 non-null  object
 4   age                            17954 non-null  int64
 5   height_cm                      17954 non-null  float64
 6   weight_kgs                     17954 non-null  float64
 7   positions                      17954 non-null  object
 8   nationality                    17954 non-null  object
 9   overall_rating                 17954 non-null  int64
 10  potential                      17954 non-null  int64
 11  value_euro                     17699 non-null  float64
 12  wage_euro                      17708 non-null  float64
 13  preferred_foot                 17954 non-null  object
 14  international_reputation(1-5)  17954 non-null  int64
 15  weak_foot(1-5)                 17954 non-null  int64
 16  skill_moves(1-5)               17954 non-null  int64
 17  work_rate                      17954 non-null  object
 18  body_type                      17954 non-null  object
 19  release_clause_euro            16117 non-null  float64
 20  club_team                      17940 non-null  object
 21  club_rating                    17940 non-null  float64
 22  club_position                  17940 non-null  object
 23  club_jersey_number             17940 non-null  float64
 24  club_join_date                 16018 non-null  object
 25  contract_end_year              17593 non-null  object
 26  national_team                  857 non-null    object
 27  national_rating                857 non-null    float64
 28  national_team_position         857 non-null    object
 29  national_jersey_number         857 non-null    float64
 30  crossing                       17954 non-null  int64
 31  finishing                      17954 non-null  int64
 32  heading_accuracy               17954 non-null  int64
 33  short_passing                  17954 non-null  int64
 34  volleys                        17954 non-null  int64
 35  dribbling                      17954 non-null  int64
 36  curve                          17954 non-null  int64
 37  freekick_accuracy              17954 non-null  int64
 38  long_passing                   17954 non-null  int64
 39  ball_control                   17954 non-null  int64
 40  acceleration                   17954 non-null  int64
 41  sprint_speed                   17954 non-null  int64
 42  agility                        17954 non-null  int64
 43  reactions                      17954 non-null  int64
 44  balance                        17954 non-null  int64
 45  shot_power                     17954 non-null  int64
 46  jumping                        17954 non-null  int64
 47  stamina                        17954 non-null  int64
 48  strength                       17954 non-null  int64
 49  long_shots                     17954 non-null  int64
 50  aggression                     17954 non-null  int64
 51  interceptions                  17954 non-null  int64
 52  positioning                    17954 non-null  int64
 53  vision                         17954 non-null  int64
 54  penalties                      17954 non-null  int64
 55  composure                      17954 non-null  int64
 56  marking                        17954 non-null  int64
 57  standing_tackle                17954 non-null  int64
 58  sliding_tackle                 17954 non-null  int64
 59  GK_diving                      17954 non-null  int64
 60  GK_handling                    17954 non-null  int64
 61  GK_kicking                     17954 non-null  int64
 62  GK_positioning                 17954 non-null  int64
 63  GK_reflexes                    17954 non-null  int64
 64  tags                           1417 non-null   object
 65  traits                         8137 non-null   object
 66  LS                             15889 non-null  object
 67  ST                             15889 non-null  object
 68  RS                             15889 non-null  object
 69  LW                             15889 non-null  object
 70  LF                             15889 non-null  object
 71  CF                             15889 non-null  object
 72  RF                             15889 non-null  object
 73  RW                             15889 non-null  object
 74  LAM                            15889 non-null  object
 75  CAM                            15889 non-null  object
 76  RAM                            15889 non-null  object
 77  LM                             15889 non-null  object
 78  LCM                            15889 non-null  object
 79  CM                             15889 non-null  object
 80  RCM                            15889 non-null  object
 81  RM                             15889 non-null  object
 82  LWB                            15889 non-null  object
 83  LDM                            15889 non-null  object
 84  CDM                            15889 non-null  object
 85  RDM                            15889 non-null  object
 86  RWB                            15889 non-null  object
 87  LB                             15889 non-null  object
 88  LCB                            15889 non-null  object
 89  CB                             15889 non-null  object
 90  RCB                            15889 non-null  object
 91  RB                             15889 non-null  object
dtypes: float64(9), int64(41), object(42)
memory usage: 12.6+ MB

### Handling null values

In [142]:
df.isnull().sum()

id               0
name             0
full_name        0
birth_date       0
age              0
              ...
LB            2065
LCB           2065
CB            2065
RCB           2065
RB            2065
Length: 92, dtype: int64

In [143]:
#now we will remove those column thst have more than 70% null values

df.drop(["national_team","national_rating","national_team_position","national_jersey_number","traits","tags"],axis = 1,inplace = True)

In [144]:
# Now let us remove dateofbirth as it is of no use

df.drop("birth_date",axis = 1, inplace = True)
df.head()

,id,name,full_name,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,25,190.50,83.9,"CM,CAM",France,88,91,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,27,162.56,59.0,"LW,ST",Italy,88,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,27,187.96,88.9,CB,Senegal,88,91,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3

In [146]:
#now we will further drop last 26 columns as they are of no use to use
n = 26
df.drop(columns=df.columns[-n:], axis=1,  inplace=True)
df.head()

,id,name,full_name,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,75,96,33,28,26,6,11,15,14,8
1,190460,C. Eriksen,Christian Dannemann Eriksen,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,67,88,59,57,22,9,14,7,7,6
2,195864,P. Pogba,Paul Pogba,25,190.50,83.9,"CM,CAM",France,88,91,...,82,87,63,67,67,5,6,2,4,3
3,198219,L. Insigne,Lorenzo Insigne,27,162.56,59.0,"LW,ST",Italy,88,88,...,61,83,51,24,22,8,4,14,9,10
4,201024,K. Koulibaly,Kalidou Koulibaly,27,187.96,88.9,CB,Senegal,88,91,...,33,80,91,88,87,7,11,7,13,5

In [148]:
#further we will drop columns that are of no use

df.drop(['name', 'full_name','positions','work_rate','club_join_date','contract_end_year'], axis=1,inplace = True)
df.head()

,id,age,height_cm,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,158023,31,170.18,72.1,Argentina,94,94,110500000.0,565000.0,Left,...,75,96,33,28,26,6,11,15,14,8
1,190460,27,154.94,76.2,Denmark,88,89,69500000.0,205000.0,Right,...,67,88,59,57,22,9,14,7,7,6
2,195864,25,190.50,83.9,France,88,91,73000000.0,255000.0,Right,...,82,87,63,67,67,5,6,2,4,3
3,198219,27,162.56,59.0,Italy,88,88,62000000.0,165000.0,Right,...,61,83,51,24,22,8,4,14,9,10
4,201024,27,187.96,88.9,Senegal,88,91,60000000.0,135000.0,Right,...,33,80,91,88,87,7,11,7,13,5

### Convert the appropriate columns to machine understandable columns using label encoding

In [150]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df["preferred_foot"] = label_encoder.fit_transform(df["preferred_foot"])
df["club_team"] = label_encoder.fit_transform(df["club_team"])
df["club_position"] = label_encoder.fit_transform(df["club_position"])
df["body_type"] = label_encoder.fit_transform(df["body_type"])
df["nationality"] = label_encoder.fit_transform(df["nationality"])
df.head()

,id,age,height_cm,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,158023,31,170.18,72.1,6,94,94,110500000.0,565000.0,0,...,75,96,33,28,26,6,11,15,14,8
1,190460,27,154.94,76.2,39,88,89,69500000.0,205000.0,1,...,67,88,59,57,22,9,14,7,7,6
2,195864,25,190.50,83.9,53,88,91,73000000.0,255000.0,1,...,82,87,63,67,67,5,6,2,4,3
3,198219,27,162.56,59.0,76,88,88,62000000.0,165000.0,1,...,61,83,51,24,22,8,4,14,9,10
4,201024,27,187.96,88.9,126,88,91,60000000.0,135000.0,1,...,33,80,91,88,87,7,11,7,13,5

In [151]:
#saving the cleaned data as new csv file
df.to_csv("F:\insideAIML\df_fifa.csv")

In [152]:
data = pd.read_csv("F:\insideAIML\df_fifa.csv")
data.head()

,Unnamed: 0,id,age,height_cm,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,0,158023,31,170.18,72.1,6,94,94,110500000.0,565000.0,...,75,96,33,28,26,6,11,15,14,8
1,1,190460,27,154.94,76.2,39,88,89,69500000.0,205000.0,...,67,88,59,57,22,9,14,7,7,6
2,2,195864,25,190.50,83.9,53,88,91,73000000.0,255000.0,...,82,87,63,67,67,5,6,2,4,3
3,3,198219,27,162.56,59.0,76,88,88,62000000.0,165000.0,...,61,83,51,24,22,8,4,14,9,10
4,4,201024,27,187.96,88.9,126,88,91,60000000.0,135000.0,...,33,80,91,88,87,7,11,7,13,5

In [153]:
data.drop(["Unnamed: 0"], axis = 1, inplace = True)
data.head()

,id,age,height_cm,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,158023,31,170.18,72.1,6,94,94,110500000.0,565000.0,0,...,75,96,33,28,26,6,11,15,14,8
1,190460,27,154.94,76.2,39,88,89,69500000.0,205000.0,1,...,67,88,59,57,22,9,14,7,7,6
2,195864,25,190.50,83.9,53,88,91,73000000.0,255000.0,1,...,82,87,63,67,67,5,6,2,4,3
3,198219,27,162.56,59.0,76,88,88,62000000.0,165000.0,1,...,61,83,51,24,22,8,4,14,9,10
4,201024,27,187.96,88.9,126,88,91,60000000.0,135000.0,1,...,33,80,91,88,87,7,11,7,13,5

### Apply the correlation and remove the column which are more than 60% correlated

In [118]:
cor_matrix = data.corr().abs()
cor_matrix

,id,age,height_cm,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
id,1.000000,0.745789,0.060664,0.193974,0.025989,0.421439,0.057837,0.142762,0.212280,0.001406,...,0.147743,0.386045,0.117964,0.086556,0.069766,0.103543,0.108692,0.105611,0.116683,0.103286
age,0.745789,1.000000,0.059579,0.233819,0.029272,0.461529,0.259579,0.082360,0.152456,0.002259,...,0.147924,0.394717,0.146725,0.118362,0.103008,0.100785,0.105334,0.104697,0.115960,0.102587
height_cm,0.060664,0.059579,1.000000,0.495320,0.008779,0.038080,0.008526,0.011144,0.021270,0.050176,...,0.272134,0.111849,0.089783,0.081452,0.086093,0.295386,0.296296,0.291707,0.296131,0.296989
weight_kgs,0.193974,0.233819,0.495320,1.000000,0.024105,0.150521,0.015099,0.044519,0.062045,0.072883,...,0.251453,0.044538,0.057559,0.056318,0.065965,0.342368,0.341784,0.339684,0.343853,0.343440
nationality,0.025989,0.029272,0.008779,0.024105,1.000000,0.008642,0.005361,0.010327,0.019816,0.004765,...,0.018938,0.005289,0.007496,0.000528,0.000640,0.013973,0.016561,0.012768,0.015923,0.013261
overall_rating,0.421439,0.461529,0.038080,0.150521,0.008642,1.000000,0.647249,0.630928,0.577316,0.047754,...,0.350902,0.729278,0.292538,0.254481,0.225466,0.030501,0.029850,0.032884,0.021115,0.027478
potential,0.057837,0.259579,0.008526,0.015099,0.005361,0.647249,1.000000,0.576341,0.484029,0.040815,...,0.226746,0.434113,0.162999,0.143927,0.129755,0.060147,0.060974,0.064471,0.058313,0.058856
value_euro,0.142762,0.082360,0.011144,0.044519,0.010327,0.630928,0.576341,1.000000,0.856466,0.017133,...,0.243599,0.456538,0.138085,0.110455,0.090450,0.028961,0.029126,0.030189,0.027929,0.028677
wage_euro,0.212280,0.152456,0.021270,0.062045,0.019816,0.577316,0.484029,0.856466,1.000000,0.016697,...,0.230613,0.428591,0.150980,0.128554,0.114025,0.029940,0.029327,0.031484,0.029212,0.030070
preferred_foot,0.001406,0.002259,0.050176,0.072883,0.004765,0.047754,0.040815,0.017133,0.016697,1.000000,...,0.067475,0.060625,0.104374,0.110565,0.120480,0.103008,0.103943,0.105849,0.104537,0.104874
international_reputation(1-5),0.362582,0.259977,0.026850,0.085086,0.003818,0.489416,0.358874,0.644610,0.668611,0.000006,...,0.220608,0.388906,0.115318,0.089809,0.077267,0.001573,0.001501,0.001422,0.004486,0.000769
weak_foot(1-5),0.075384,0.061108,0.130464,0.128875,0.005088,0.216394,0.167735,0.167784,0.146115,0.077964,...,0.337573,0.285560,0.067002,0.045716,0.027845,0.237958,0.238646,0.235450,0.236080,0.238725
skill_moves(1-5),0.056325,0.029681,0.320141,0.353601,0.007443,0.418718,0.356241,0.317427,0.269476,0.111514,...,0.695889,0.598595,0.255601,0.225532,0.193438,0.626246,0.625743,0.621980,0.623727,0.627320
body_type,0.137555,0.203061,0.039820,0.301054,0.031282,0.088268,0.075887,0.005115,0.000500,0.029765,...,0.031520,0.031196,0.002579,0.002935,0.005599,0.092706,0.091904,0.093070,0.094181,0.094589
release_clause_euro,0.126422,0.064120,0.011440,0.037207,0.005595,0.614804,0.583649,0.994318,0.856239,0.020369,...,0.234825,0.442664,0.137711,0.114437,0.094969,0.028529,0.028691,0.029458,0.027214,0.028336
club_team,0.018374,0.009280,0.007558,0.016223,0.029746,0.000814,0.006862,0.002815,0.014754,0.002211,...,0.007056,0.010248,0.006726,0.001404,0.002027,0.000968,0.000292,0.000478,0.001621,0.001704
club_rating,0.089428,0.022919,0.034744,0.063224,0.030223,0.612173,0.680011,0.540529,0.548232,0.040212,...,0.170726,0.392914,0.153600,0.144671,0.137616,0.030083,0.030816,0.026895,0.033380,0.032271
club_position,0.127468,0.151815,0.047215,0.074705,0.013945,0.211857,0.104851,0.113536,0.068206,0.086700,...,0.060217,0.117466,0.128227,0.132853,0.130642,0.096770,0.094292,0.090233,0.097435,0.095596
club_jersey_number,0.182060,0.241511,0.025676,0.084709,0.041162,0.210828,0.002259,0.086939,0.082794,0.018290,...,0.034004,0.166035,0.139385,0.125547,0.116867,0.004666,0.002876,0.001792,0.001528,0.005053
crossing,0.132995,0.133357,0.388805,0.394145,0.002695,0.398343,0.244438,0.251093,0.238856,0.209261,...,0.655166,0.589726,0.457401,0.440578,0.422407,0.670197,0.667971,0.666225,0.667231,0.669792
finishing,0.086259,0.074761,0.296794,0.294710,0.006721,0.342331,0.247552,0.261003,0.224953,0.045253,...,0.840504,0.550520,0.042058,0.013427,0.051432,0.594444,0.593377,0.589002,0.590215,0.592615
heading_accuracy,0.112367,0.151723,0.043058,0.027698,0.025462,0.347670,0.204059,0.188190,0.193482,0.044904,...,0.562135,0.525578,0.593140,0.573015,0.546457,0.756583,0.755364,0.752881,0.750169,0.754320
short_passing,0.139352,0.137151,0.290321,0.291826,0.005646,0.506819,0.368106,0.329467,0.302788,0.106244,...,0.684783,0.701341,0.570187,0.548907,0.516761,0.734842,0.733340,0.729100,0.728946,0.733512
volleys,0.162162,0.147752,0.279702,0.263662,0.000430,0.396922,0.255954,0.291412,0.264457,0.055662,...,0.834263,0.607048,0.135570,0.087770,0.050640,0.597400,0.596051,0.591814,0.592844,0.595576
dribbling,0.032953,0.016334,0.382181,0.414172,0.007879,0.378718,0.315429,0.273006,0.241887,0.135365,...,0.773293,0.613821,0.353333,0.319579,0.292289,0.761008,0.759805,0.756051,0.757480,0.760733
curve,0.169884,0.147628,0.345927,0.347161,0.025134,0.423890,0.278243,0.289540,0.266848,0.162598,...,0.756822,0.628644,0.303799,0.274250,0.245991,0.612774,0.610232,0.606753,0.609906,0.611284
freekick_accuracy,0.201446,0.196003,0.316407,0.305299,0.000711,0.400878,0.230355,0.268270,0.244442,0.152913,...,0.740312,0.595693,0.310731,0.289089,0.258011,0.562096,0.559910,0.555905,0.559075,0.561057
long_passing,0.190822,0.185018,0.262813,0.260840,0.015549,0.489998,0.322550,0.306941,0.285836,0.110042,...,0.554439,0.661651,0.598377,0.593464,0.568594,0.603722,0.602635,0.598216,0.599067,0.602949
ball_control,0.104260,0.091552,0.328643,0.339170,0.003115,0.464336,0.350662,0.309655,0.282603,0.120344,...,0.775064,0.690473,0.466214,0.430959,0.398561,0.792514,0.791331,0.787230,0.787446,0.791940
acceleration,0.134519,0.151665,0.406415,0.481583,0.024680,0.204853,0.239457,0.174608,0.130845,0.119013,...,0.544564,0.368932,0.219448,0.188590,0.181914,0.611743,0.613565,0.611087,0.610381,0.612223
sprint_speed,0.132401,0.144265,0.350074,0.413238,0.027969,0.218443,0.241553,0.176703,0.135497,0.116700,...,0.532827,0.374009,0.237201,0.205451,0.198554,0.617372,0.619401,0.616943,0.615819,0.617764
agility,0.019936,0.013177,0.438373,0.533050,0.019444,0.275260,0.225621,0.199008,0.163275,0.109765,...,0.573341,0.450707,0.186985,0.149145,0.135962,0.537312,0.538882,0.536719,0.537039,0.539058
reactions,0.413291,0.463421,0.020000,0.082796,0.013678,0.855767,0.505011,0.547615,0.505064,0.028629,...,0.356345,0.690894,0.295360,0.262879,0.235992,0.071615,0.070880,0.073803,0.062731,0.067835
balance,0.046457,0.083610,0.532396,0.663188,0.005104,0.114667,0.143429,0.118869,0.095289,0.097114,...,0.490804,0.331708,0.197370,0.172736,0.170060,0.513917,0.515410,0.512532,0.512470,0.515448
shot_power,0.167609,0.158875,0.239960,0.198428,0.000175,0.445306,0.289157,0.284693,0.265378,0.079064,...,0.799445,0.645533,0.309979,0.269590,0.234120,0.658909,0.658784,0.654364,0.655586,0.657944
jumping,0.174009,0.183816,0.052169,0.005741,0.010300,0.271008,0.106849,0.128507,0.134693,0.021552,...,0.141195,0.261278,0.290396,0.272198,0.271687,0.201079,0.201403,0.203212,0.196807,0.199361
stamina,0.056292,0.103804,0.254794,0.232554,0.025205,0.368749,0.199151,0.216471,0.185396,0.094283,...,0.533505,0.541032,0.602414,0.583755,0.558238,0.716231,0.714262,0.711182,0.710596,0.715156
strength,0.268964,0.339671,0.318769,0.610431,0.034719,0.360725,0.077918,0.138230,0.147544,0.039289,...,0.067912,0.290600,0.338157,0.335586,0.307896,0.113762,0.112440,0.113914,0.105768,0.110123
long_shots,0.168315,0.164655,0.305601,0.278552,0.002570,0.429458,0.265326,0.284085,0.257050,0.084132,...,0.814800,0.631092,0.232644,0.188789,0.150900,0.616732,0.615570,0.610541,0.611450,0.614397
aggression,0.230897,0.264859,0.073996,0.021926,0.002659,0.397072,0.170005,0.189101,0.200645,0.056607,...,0.352402,0.529780,0.729119,0.747055,0.724188,0.588397,0.587670,0.585741,0.582978,0.587690
interceptions,0.162067,0.198131,0.078730,0.034607,0.004672,0.322030,0.151946,0.142375,0.160140,0.100773,...,0.126156,0.410590,0.895607,0.943150,0.930522,0.495627,0.495527,0.495139,0.490535,0.495643
positioning,0.090011,0.085510,0.353380,0.355281,0.003921,0.362116,0.247677,0.262596,0.233461,0.098620,...,0.805589,0.595120,0.220465,0.177401,0.144466,0.686602,0.685024,0.681129,0.682433,0.685469
vision,0.216429,0.193201,0.287254,0.282234,0.015594,0.506812,0.348179,0.363445,0.325331,0.067469,...,0.636811,0.645110,0.188888,0.155441,0.122188,0.384880,0.381374,0.376979,0.378970,0.383633
penalties,0.147743,0.147924,0.272134,0.251453,0.018938,0.350902,0.226746,0.243599,0.230613,0.067475,...,1.000000,0.569526,0.168688,0.118709,0.084269,0.625056,0.624202,0.619048,0.621881,0.623655
composure,0.386045,0.394717,0.111849,0.044538,0.005289,0.729278,0.434113,0.456538,0.428591,0.060625,...,0.569526,1.000000,0.403868,0.366861,0.332588,0.399369,0.396236,0.394877,0.389258,0.397623
marking,0.117964,0.146725,0.089783,0.057559,0.007496,0.292538,0.162999,0.138085,0.150980,0.104374,...,0.168688,0.403868,1.000000,0.911632,0.901460,0.559166,0.559859,0.558036,0.554668,0.559810
standing_tackle,0.086556,0.118362,0.081452,0.056318,0.000528,0.254481,0.143927,0.110455,0.128554,0.110565,...,0.118709,0.366861,0.911632,1.000000,0.975138,0.541943,0.542229,0.541971,0.537984,0.542599
sliding_tackle,0.069766,0.103008,0.086093,0.065965,0.000640,0.225466,0.129755,0.090450,0.114025,0.120480,...,0.084269,0.332588,0.901460,0.975138,1.000000,0.520881,0.521098,0.520939,0.516643,0.521105
GK_diving,0.103543,0.100785,0.295386,0.342368,0.013973,0.030501,0.060147,0.028961,0.029940,0.103008,...,0.625056,0.399369,0.559166,0.541943,0.520881,1.000000,0.971103,0.966983,0.970662,0.974057
GK_handling,0.108692,0.105334,0.296296,0.341784,0.016561,0.029850,0.060974,0.029126,0.029327,0.103943,...,0.624202,0.396236,0.559859,0.542229,0.521098,0.971103,1.000000,0.966523,0.969991,0.971087
GK_kicking,0.105611,0.104697,0.291707,0.339684,0.012768,0.032884,0.064471,0.030189,0.031484,0.105849,...,0.619048,0.394877,0.558036,0.541971,0.520939,0.966983,0.966523,1.000000,0.965647,0.967480
GK_positioning,0.116683,0.115960,0.296131,0.343853,0.015923,0.021115,0.058313,0.027929,0.029212,0.104537,...,0.621881,0.389258,0.554668,0.537984,0.516643,0.970662,0.969991,0.965647,1.000000,0.970906
GK_reflexes,0.103286,0.102587,0.296989,0.343440,0.013261,0.027478,0.058856,0.028677,0.030070,0.104874,...,0.623655,0.397623,0.559810,0.542599,0.521105,0.974057,0.971087,0.967480,0.970906,1.000000

In [155]:
# creating upper triangular matrix and then comparing and getting more than 60% correlated column
upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.60)]
print(to_drop)

['age', 'potential', 'value_euro', 'wage_euro', 'international_reputation(1-5)', 'release_clause_euro', 'club_rating', 'crossing', 'finishing', 'short_passing', 'volleys', 'dribbling', 'curve', 'freekick_accuracy', 'long_passing', 'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power', 'stamina', 'strength', 'long_shots', 'aggression', 'interceptions', 'positioning', 'vision', 'penalties', 'composure', 'marking', 'standing_tackle', 'sliding_tackle', 'GK_diving', 'GK_handling', 'GK_kicking', 'GK_positioning', 'GK_reflexes']

C:\Users\Ananaya Gupta\AppData\Local\Temp\ipykernel_14196\1419115635.py:2: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))

This is the list of all columns which needs to be removed because they are more than 60% correlated.

In [156]:
data.drop(to_drop, axis = 1,inplace = True)
data.head()

,id,height_cm,weight_kgs,nationality,overall_rating,preferred_foot,weak_foot(1-5),skill_moves(1-5),body_type,club_team,club_position,club_jersey_number,heading_accuracy,jumping
0,158023,170.18,72.1,6,94,0,4,4,4,225,25,10.0,70,68
1,190460,154.94,76.2,39,88,1,5,4,3,616,9,23.0,52,50
2,195864,190.50,83.9,53,88,1,4,5,6,394,9,6.0,75,83
3,198219,162.56,59.0,76,88,1,4,4,6,418,13,24.0,56,53
4,201024,187.96,88.9,126,88,1,3,2,6,418,8,26.0,83,81

## Apply the variance and remove the columns whose variance is less that 20%

In [158]:
from sklearn.feature_selection import VarianceThreshold
var_thres = VarianceThreshold(threshold=0.20)
var_thres.fit(data)

VarianceThreshold(threshold=0.2)

In [159]:
var_thres.get_support()

array([ True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True])

In [160]:
constant_columns = data.columns[var_thres.get_support() == False]
constant_columns

Index(['preferred_foot'], dtype='object')

In [161]:
data.drop(constant_columns, axis=1, inplace = True)
data.head()

,id,height_cm,weight_kgs,nationality,overall_rating,weak_foot(1-5),skill_moves(1-5),body_type,club_team,club_position,club_jersey_number,heading_accuracy,jumping
0,158023,170.18,72.1,6,94,4,4,4,225,25,10.0,70,68
1,190460,154.94,76.2,39,88,5,4,3,616,9,23.0,52,50
2,195864,190.50,83.9,53,88,4,5,6,394,9,6.0,75,83
3,198219,162.56,59.0,76,88,4,4,6,418,13,24.0,56,53
4,201024,187.96,88.9,126,88,3,2,6,418,8,26.0,83,81

#### Now this is the cleaned data

In [162]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  17954 non-null  int64
 1   height_cm           17954 non-null  float64
 2   weight_kgs          17954 non-null  float64
 3   nationality         17954 non-null  int64
 4   overall_rating      17954 non-null  int64
 5   weak_foot(1-5)      17954 non-null  int64
 6   skill_moves(1-5)    17954 non-null  int64
 7   body_type           17954 non-null  int64
 8   club_team           17954 non-null  int64
 9   club_position       17954 non-null  int64
 10  club_jersey_number  17940 non-null  float64
 11  heading_accuracy    17954 non-null  int64
 12  jumping             17954 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 1.8 MB

### Understand the Dataset whether the dataset is correct

The dataset we obtained is the cleanest dataset but there are chances that it is not correct